.projects-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-areas:
        "CIWDv3-html CIWDv3-css"
        "CIWDv3-NP FarukB";
}

.html-blog-project {
    grid-area: CIWDv3-html;
}

.css-project {
    grid-area: CIWDv3-css;
}

.faruk-biryani {
    grid-area: FarukB;
}

.next-project {
    grid-area: CIWDv3-NP;
}

.psection {
    border: 4px #8d86c9 solid;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: transparent;
}

div.project-tabs {
    display: none;
}

@media screen and (max-width: 600px) {
    .projects-grid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
        grid-template-areas:
            "CIWDv3-html"
            "CIWDv3-css"
            "CIWDv3-NP"
            "FarukB";
    }

    /* div.project-tabs {
        display: flex;
        width: 100%;
    }

    ul.projects-list {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        padding: 1rem 0;
        gap: 0.5=25rem;
    }

    a.project-link {
        text-decoration: none;
        font-weight: bold;
        color: #cac4ce;
        border: 2px green solid;
    }

    a.project-link::after {
        content: '';
        height: 2px;
        background-color:#8d86c9;
        width: 0;
        display: block;
        transition: width .2s ease-in-out;
    }

    a.project-link:hover::after {
        width: 100%;
    } */
}