.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-areas:
    "CIWDv3-html CIWDv3-css"
    "CIWDv3-NP FarukB";
}

.html-blog-project {
    grid-area: CIWDv3-html;
}

.css-project {
    grid-area: CIWDv3-css;
}

.faruk-biryani {
    grid-area: FarukB;
}

.next-project {
    grid-area: CIWDv3-NP;
}

.psection {
    border: 2px #054a91 solid;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: #f17300;
}

@media screen and (max-width: 600px) {
    .grid-container {
        display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-areas:
    "CIWDv3-html"
    "CIWDv3-css"
    "CIWDv3-NP"
    "FarukB";
    }
}